## Table of contents
## Question 3: Import of pickle file and products file
## Question 4: Shape of the dataframes
## Question 5: Combine the orders_products_combined dataframe with your products data set
## Question 6: Confirm the results of the merge using the merge flag
## Question 7: Exporting the newly created dataframe

# Question 3: Import of pickle file and products file

In [26]:
# Importing libraries

import pandas as pd
import numpy as np
import os

In [27]:
# Set path

path = r'C:\Users\Eva\Documents\Instacart Basket Analysis'

In [28]:
# Importing data files
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [29]:
df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [30]:
# Check datatypes and memory usage for df_prods

df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [31]:
# Change data types for df_prods

df_prods['product_id']=df_prods['product_id'].astype('int32')
df_prods['product_name'] = df_prods['product_name'].astype('object')
df_prods['aisle_id'] = df_prods['aisle_id'].astype('int8')
df_prods['department_id']=df_prods['department_id'].astype('int8')
df_prods['prices']=df_prods['prices'].astype('float16')

In [32]:
# Check output to see memory usage

df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int8
 3   department_id  49672 non-null  int8
 4   prices         49672 non-null  float16
dtypes: float16(1), int32(1), int8(2), object(1)
memory usage: 776.2+ KB

In [33]:
# Check datatypes and memory usage for df_orders_products_combined 

df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   _merge                  category
dtypes: category(1), float64(1), int64(8)
memory usage: 2.4 GB

In [34]:
# Change types for df_orders_products_combined 

df_orders_products_combined['order_id']=df_orders_products_combined['order_id'].astype('int32')
df_orders_products_combined['user_id'] = df_orders_products_combined['user_id'].astype('int32')
df_orders_products_combined['order_number']=df_orders_products_combined['order_number'].astype('int8')
df_orders_products_combined['orders_day_of_week']=df_orders_products_combined['orders_day_of_week'].astype('int8')
df_orders_products_combined['order_hour_of_day']=df_orders_products_combined['order_hour_of_day'].astype('int8')
df_orders_products_combined['days_since_prior_order']=df_orders_products_combined['days_since_prior_order'].astype('float16')
df_orders_products_combined['product_id']=df_orders_products_combined['product_id'].astype('int32')
df_orders_products_combined['add_to_cart_order']=df_orders_products_combined['add_to_cart_order'].astype('int32')
df_orders_products_combined['reordered']=df_orders_products_combined['reordered'].astype('int8')

In [35]:
# Check memory usage for df_orders_products_combined 

df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int8
 9   _merge                  category
dtypes: category(1), float16(1), int32(4), int8(4)
memory usage: 958.9 MB

# Question 4: Shape of the dataframes

In [36]:
# Shape of order_products_combined dataframe

df_orders_products_combined.shape

(32434489, 10)

In [37]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [38]:
# Shape of products dataframe 

df_prods.shape

(49672, 5)

In [39]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.800781
1,2,All-Seasons Salt,104,13,9.296875
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.500000
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.500000
4,5,Green Chile Anytime Sauce,5,13,4.300781

# Question 5: Combine the orders_products_combined dataframe with your products data set

In [47]:
df_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [42]:
df_merged

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,0.0,196,1,0,both,Soda,77,7,9.000000
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.000000
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.000000
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.000000
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,both,Orange Energy Shots,64,7,3.699219
32404855,31526,202557,18,5,11,3.0,43553,2,1,both,Orange Energy Shots,64,7,3.699219
32404856,758936,203436,1,2,7,0.0,42338,4,0,both,"Zucchini Chips, Pesto",50,19,6.898438
32404857,2745165,203436,2,3,5,15.0,42338,16,1,both,"Zucchini Chips, Pesto",50,19,6.898438
32404858,3093936,205420,1,4,14,0.0,28818,8,0,both,Hot Oatmeal Multigrain Raisin,-126,14,10.296875

# Question 6: Confirm the results of the merge using the merge flag.

In [48]:
# See above and also:
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# Question 7: Exporting the newly created dataframe

In [50]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'merged_data.pkl'))