## Table of contents
## 1 Importing libraries and data files
## 2 Grouping data
## 3 Aggregating data
## 4 Creating a loyality flag using loc
## 5 Task
### Question 2: Finding the aggregated mean of the “order_number” column grouped by “department_id”
### Question 3: Analyze the result. How do the results for the entire dataframe differ from those of the subset? 
### Question 4: Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.
### Question 5: The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified
### Question 6: The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders 
### Question 7: In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers

## 1 Importing libraries and data files

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Importing data files

path = r'C:\Users\Eva\Documents\Instacart Basket Analysis'
df_ords_prods_merge = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_2.csv'))

In [3]:
# Creating a subset

df = df_ords_prods_merge[:1000000]

In [6]:
df.shape

(1000000, 19)

In [7]:
df.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_day,busiest_day_2,busiest_hour_of_day
0,0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

## 2 Grouping data

In [16]:
# Grouping the data by product_name

df.groupby('product_name')

## 3 Aggregating data

In [17]:
# Grouping the data by department_id and getting the mean values of order_number for each group

df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [19]:
# Another option for grouping the data by department_id and getting the mean values of order_number for each group

df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [20]:
# Getting also the minimum and maximum of order_number for each department_id group

df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

## 4 Creating a loyality flag using loc

In [5]:
df_ords_prods_merge['prices'] = df_ords_prods_merge['prices'].astype('float64')
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] == np.inf, 'prices'] = 99999

df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
df_ords_prods_merge.head(15)

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_day,busiest_day_2,busiest_hour_of_day,max_order
0,0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10
5,5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
10,10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22

In [8]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [9]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [13]:
df_ords_prods_merge.head(60)

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_label,busiest_day,busiest_day_2,busiest_hour_of_day,max_order,loyalty_flag
0,0,2539329,1,1,2,8,0.0,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,1,2398795,1,2,3,7,15.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,2,473747,1,3,3,12,21.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,3,2254736,1,4,4,7,29.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,4,431534,1,5,4,15,28.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
5,5,3367565,1,6,2,7,19.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
6,6,550135,1,7,1,9,20.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
7,7,3108588,1,8,1,14,14.0,196,2,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
8,8,2295261,1,9,1,16,0.0,196,4,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
9,9,2550362,1,10,4,8,30.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
10,10,2968173,15,15,1,9,7.0,196,2,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
11,11,1870022,15,17,2,16,8.0,196,6,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
12,12,1911383,15,18,2,11,7.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
13,13,2715276,15,21,1,9,7.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
14,14,487368,15,22,1,10,14.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
15,15,2293453,19,2,5,14,6.0,196,3,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer
16,16,1973799,19,5,6,12,8.0,196,15,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer
17,17,532817,19,7,4,17,6.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,9,New customer
18,18,1573906,21,10,3,10,6.0,196,2,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,33,Regular customer
19,19,1593000,31,10,3,8,7.0,196,17,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,20,Regular customer
20,20,2231262,31,17,3,11,8.0,196,14,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,20,Regular customer
21,21,2580647,43,6,4,16,4.0,196,9,0,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,11,Regular customer
22,22,2187180,43,9,4,12,3.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,11,Regular customer
23,23,2497897,52,1,1,9,0.0,196,4,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer
24,24,1318871,52,2,1,10,7.0,196,5,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer
25,25,1261384,52,3,1,10,7.0,196,3,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer
26,26,580568,52,5,2,10,8.0,196,6,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
27,27,2428073,52,7,2,7,8.0,196,5,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer
28,28,342306,52,9,1,11,7.0,196,5,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer
29,29,1520353,52,10,2,10,8.0,196,4,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
30,30,2542086,52,11,2,9,7.0,196,3,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
31,31,944694,52,12,1,16,6.0,196,7,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer
32,32,1268191,52,15,2,11,8.0,196,3,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
33,33,1122089,52,17,2,10,6.0,196,4,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
34,34,1498922,52,18,2,10,14.0,196,6,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
35,35,180919,52,19,3,8,8.0,196,4,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,27,Regular customer
36,36,2695875,52,21,5,10,30.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
37,37,3205960,67,1,3,11,0.0,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,24,Regular customer
38,38,970922,67,2,1,15,5.0,196,2,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer
39,39,596585,67,3,1,13,7.0,196,2,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer
40,40,2037087,67,4,2,9,8.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer
41,41,2474111,67,5,3,14,8.0,196,2,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,24,Regular customer
42,42,1568481,67,6,3,12,7.0,196,2,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,24,Regular customer
43,43,2048527,67,8,2,11,7.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer
44,44,2389031,67,9,2,14,7.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer
45,45,2378562,67,10,1,10,6.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer
46,46,1515698,67,11,1,11,7.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer
47,47,1928050,67,12,2,12,8.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer
48,48,1949274,67,13,1,10,6.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer
49,49,551869,67,14,1,9,7.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer
50,50,768572,67,16,4,10,9.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,24,Regular customer
51,51,150528,67,18,5,16,4.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer
52,52,29758,67,19,0,14,9.0,196,2,1,...,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Most orders,24,Regular customer
53,53,1558976,67,21,1,9,5.0,196,2,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer
54,54,863974,67,22,1,11,14.0,196,3,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer
55,55,2308399,67,23,1,14,14.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer
56,56,2759128,81,3,1,9,14.0,196,2,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,7,New customer
57,57,1812985,81,5,2,20,30.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,7,New customer
58,58,1889835,82,1,3,15,0.0,196,6,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,19,Regular customer
59,59,499460,82,3,5,10,5.0,196,2,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,19,Regular customer

## 5 Task

### Question 2: Finding the aggregated mean of the “order_number” column grouped by “department_id”

In [10]:
df_ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

### Question 3: Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

As one can see, the order_number means for the respective departments are a little bit different (in most cases a little lower) for the entire dataset than for the subset.

### Question 4: Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

see above

### Question 5: The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [11]:
df_ords_prods_merge['prices'].describe()

count    3.240486e+07
mean     1.198023e+01
std      4.956554e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

In [12]:
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

### Question 6: The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [ ]:
# Split the data into groups based on the 'user_id' column. Apply the transform() function on the 'prices' to get the avg price

In [13]:
df_ords_prods_merge['avg_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
df_ords_prods_merge.loc[df_ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [15]:
df_ords_prods_merge.loc[df_ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [16]:
# View the output

df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_label,busiest_day,busiest_day_2,busiest_hour_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,0,2539329,1,1,2,8,0.0,196,1,0,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
1,1,2398795,1,2,3,7,15.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
2,2,473747,1,3,3,12,21.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender
3,3,2254736,1,4,4,7,29.0,196,1,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
4,4,431534,1,5,4,15,28.0,196,1,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender

### Question 7: In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [ ]:
# Split the df based on user_id, using transform()function on days_since_prior_order to get the median days_since_prior_order per user

In [17]:
df_ords_prods_merge['median_order_freq'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [18]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_order_freq'] > 20, 'ord_frequency_flag'] = 'Non-frequent customer'

In [20]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_order_freq'] > 10 & (df_ords_prods_merge['median']<=20), 'ord_frequency_flag'] = 'Regular customer'

In [21]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_order_freq'] <= 10, 'ord_frequency_flag'] = 'Frequent customer'

In [22]:
# View the output

df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_label,busiest_day,busiest_day_2,busiest_hour_of_day,max_order,loyalty_flag,avg_price,spending_flag,median,ord_frequency_flag
0,0,2539329,1,1,2,8,0.0,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,1,2398795,1,2,3,7,15.0,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,2,473747,1,3,3,12,21.0,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,3,2254736,1,4,4,7,29.0,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,4,431534,1,5,4,15,28.0,196,1,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer

In [23]:
# Dropping the column Unnamend: 0

df_ords_prods_merge.drop(columns = ['Unnamed: 0'], inplace = True)

In [24]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_label,busiest_day,busiest_day_2,busiest_hour_of_day,max_order,loyalty_flag,avg_price,spending_flag,median,ord_frequency_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer

In [26]:
# Exporting the datafile

df_ords_prods_merge.to_csv(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merged_4.csv'))